# =========================
# Java
# =========================
*.class
*.log

# =========================
# NetBeans
# =========================
/nbproject/private/
/build/
/dist/
/nbbuild/
/nbdist/

# =========================
# IDE
# =========================
.idea/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary files
# =========================
*.tmp
*.temp
*.bak